@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&family=Ysabeau+SC:wght@1..1000&display=swap');

*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}

/* Variables */
:root{
    --kanit:"Kanit";
    --dark_red:rgb(70, 8, 8);
    --light_red: rgb(197, 44, 44);
    --baby_red:rgb(247, 149, 149);
    --back: rgb(241, 202, 202);
    --mono:"Rubik Mono One";
    --ys:"Ysabeau SC";
}


/* -------------Nav bar styling----------------- */

.header{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(60px,1000px));
    background-color: var(--baby_red);
    justify-content: space-between;
}

.header_navbar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 125px));
    height: 100%;
    width: 100%;
    font-family: var(--kanit);
}

.header_navbar a{
    color: black;
    text-align: center;
    padding: 2%;
    text-decoration: none ;
    font-size: 1.3rem;
}

.header_navbar a:hover{
    background-color: var(--light_red);
    color:white;
}

.header_navbar a:active{
    border-color: var(--dark_red);
    color: white;
}

.header_logo img{
    width: 50px;
    height: 50px;
    align-items:start;
    margin: 0.2rem;
}

.header_icons{
    display: flex;
    width: 100%;
    padding-left:3rem;
    justify-content: center;
    align-items: center;
}

.header_icons a:hover{
    background-color: var(--light_red);
}

.icon{
    width: 100%;
    height: 100%;
    align-items:center;
}

/* ---------------------Content style------------------- */

.content{
    width: 100%;
    background-color: var(--back);
    background-size: cover;
} 

.content_title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    background-color: var(--back);
    font-family: var(--ys);
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

.content_verano{
    width:100%;
    display: grid;
    grid-template-areas: 
        "a  a   b   f   e"
        "a  a   b   c   c"
        "d  g   h   c   c"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:max-content;
    gap: 0;
}

.txt_verano{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--baby_red);
    background-color: var(--dark_red);
    font-family: var(--ys);
    font-style: normal;
    font-weight: 900;
    font-display: swap;

}

.verano_img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 10px solid var(--light_red) ;
}

.verano-a{
    grid-area: a;
}

.verano-b{
    grid-area: b;
}

.verano-c{
    grid-area: c;
}

.verano-d{
    grid-area: d;
}

.verano-e{
    grid-area: e;
}

.verano-f{
    grid-area: f;
}

.verano-g{
    grid-area: g;
}

.verano-h{
    grid-area: h;  
}


.content_clases{
    width:100%;
    display: grid;
    grid-template-areas: 
        "i   a   h   h"
        "d   b   h   h"
        "g   e   f   c"
    ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:max-content;
    gap: 0;
}
.clases_img a:hover{
    background-color: rgba(255, 255, 255, 0.368);
}

.txt_clases{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--baby_red);
    background-color: var(--dark_red);
    font-family: var(--ys);
    font-style: normal;
    font-weight: 900;
    font-display: swap;

}

.clases_img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 10px solid var(--light_red) ;
}

.clases-a{
    grid-area: a;
}

.clases-b{
    grid-area: b;
}

.clases-c{
    grid-area: c;
}

.clases-d{
    grid-area: d;
}

.clases-e{
    grid-area: e;
}

.clases-f{
    grid-area: f;
}

.clases-g{
    grid-area: g;
}

.clases-h{
    grid-area: h;  
}

.clases-i{
    grid-area: i;
}

/* ----------------Foot style------------------ */

.foot{
    width: 100%;
    display: flex;
    background-color: black;
    align-items: center;
}

.foot_icons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.foot_icons a:hover{
    background-color: #493e3e;
}

.foot_icon{
    width: 100%;
    height: 100%;
    align-items:center;
}

.call_center{    
    width: 50%;
    text-align: center;
    margin: 1.4rem;
    color: white;
}


/* ------------Suscription style------------- */

.suscription{
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.suscription:target {
	opacity:1;
	pointer-events: auto;
}
.suscription > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: white;
	background: -moz-linear-gradient(white, red);
	background: -webkit-linear-gradient(white, red);
	background: -o-linear-gradient(white, red);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.suscription_close {
	background: var(--baby_red);
	color: white;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.suscription_close:hover { 
    background: var(--dark_red); }

